*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
      }
      .menu ul {
        background: #280505;
        list-style-type: none;
        text-align: center;
      }
    .menu li {
        color: #7b6565;
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        margin-left: -5px;
        font-weight: bold;
      }
    .menu a {
        text-decoration: none;
        color: #864444;
        display: block;
      }
    .menu a:hover {
        background: #F1F1F1;
        color: #a73c3c;
      }
.header {
        margin-bottom: 80px;
    }
.header .right{
            top: 0;
            position: absolute;
            right: 0px;
            padding-top :10px;
            list-style: none;
    }
.title {
        padding-top: 2%;
        padding-bottom: 2%;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        color:#360d0d;
    }
.sanpham .content .gia {
    padding-left: 27%;
    font-weight: bold;
    font-size: larger;
    font-size: 2.0rem;
    font-weight: bolder;
    padding-top: 1rem;
}
.sanpham .content .gia del{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}
    .danhmuc {
        display: flex;
    }
    .trend-img {
        position:relative;
        margin-bottom: 15px;
        padding-left: 30%;

    }
    .trend-img img {
        width:90%;
    }
    .buy {
        width: 150px;
        padding: 10px 0;
        outline: none;
        border:0;
        border-radius: 2px;
        position:absolute;
        background:#fff;
        left: 61%;
        bottom: 0;
        transform: translate(-50%,0);
        transition: .6s;
        opacity:0;
        z-index: 1;
       
    }
    .trend-img:hover .buy {
        transform: translate (-50%,50%);
        bottom: 50%;
        opacity:1;
    }
    .overlay {
        height: 99%;
        width: 63%;
        background: #333;
        position:absolute;
        top: 0;
        opacity: .5;
        transition: .5s;
       
    } 
    .noi-dung-contact {
         margin-top: 5%;
         background-color: rgb(246, 231, 211);
         height:100%;
    }
    .banner-img {
        top: auto;
       width: auto;
       padding-top: 5%;
      }
      .banner-img img {
          width: 100%;
          height:25%;
         
      }
      .banner {
          position: relative;
          padding-bottom: 5%;
      }
      .bangtin{
        width:100%;
        min-height: 50vh;
        overflow:hidden;
        background-color: #ddd;
        font-family: 'Lobster',cursive;
    }
    .time {
        width: 100%;
        padding: 50px 100px;
    }
    .img-bangtin {
        width:30%;
        float:left;
    }
    .img-bangtin img{
        width: 100%;
        height:auto;
    }
    .content{
        width:60%;
        float:left;
        margin-left: 50px;
    }
    .content h1{
        font-size: 90px;
        letter-spacing: 3.5px;
        margin-top: 25px;
        color:#393939;
    }
    .content span{
        font-family: sans-serif;
        color:#a73c3c;
        margin-top:25px;
    }
    .content p{
        font-size: 20px;
        font-family: serif;
        margin-top: 10px;
        line-height: 1.5;
    }

footer {
    color: #fcfcfc;
     background-color: #0f0f0f;
     height: auto;
     width: 100%;
     font-family: "Open Sans";
     padding-top: 40px;
 }
 footer .footer-content {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
 } 
 .footer-content h3 {
     font-size: 1.8rem;
     font-weight: 400;
     text-transform: capitalize;
     line-height: 3rem;
 }
 .footer-content p{
     max-width: 500px;
     margin: 10px auto;
     line-height: 28px;
     font-size: 14px;
 }
 .mxh {
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 1rem 0 3rem 0;
 }
 .mxh li{
     margin: 0 10px;
 }
 .mxh a{
     text-decoration: none;
     color:#fff;
 }
 .mxh a i{
     font-size: 1.1rem;
     transition: color .4s ease;
 }
 .mxh a:hover i{
     color:aqua;
 }
 .footer-bottom {
     background: #000;
     width: 100%;
     padding: 20px 0;
     text-align: center;
 }
 .footer-bottom p{
     font-size: 14px;
     word-spacing: 2px;
     text-transform: capitalize;
 }
 .footer-bottom span {
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }